/* Link to documentation for bundling and minification setup 
Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Styling for the navbar brand link */
a.navbar-brand[b-axnuj3c1xz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Global link color */
a[b-axnuj3c1xz] {
  color: #0077cc;
}

/* Primary button styling */
.btn-primary[b-axnuj3c1xz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Active state for nav pills */
.nav-pills .nav-link.active[b-axnuj3c1xz], .nav-pills .show > .nav-link[b-axnuj3c1xz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Border styling for top and bottom borders */
.border-top[b-axnuj3c1xz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-axnuj3c1xz] {
  border-bottom: 1px solid #e5e5e5;
}

/* Box shadow for elements */
.box-shadow[b-axnuj3c1xz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Button styling */
button.accept-policy[b-axnuj3c1xz] {
  font-size: 1rem;
  line-height: inherit;
}

/* Footer styling */
.footer[b-axnuj3c1xz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

