@model ItemsViewModel

<link rel="stylesheet" href="~/css/Grid.css">
<!-- Content wrapper for dynamically loading grid -->
<div id="contentWrapper">
    <div id="itemsContainer">
        <!-- Initial items will load here dynamically -->
    </div>
</div>

<!-- Modal for displaying item details -->
<div id="itemModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modalBody"></div>
    </div>
</div>
