@model ItemsViewModel

<h1>Nutritional Information of Grocery Items (@Model.CurrentViewName View)</h1>
<a href="/Item/Grid" title="Grid View">
    <img src="/images/grid-view.png" alt="Grid View" style="width: 30px; height: auto; vertical-align: middle;" />
</a>

<partial name="_ItemTable" model="Model.Items" />
