@{
    // Determine the layout dynamically or use the default Identity layout
    Layout = ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null
        ? parentLayout.ToString()
        : "/Areas/Identity/Pages/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <!-- Navigation Section -->
        <div style="position: relative" class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        
        <!-- Content Section -->
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    <!-- Allow additional scripts to be injected into this section -->
    @RenderSection("Scripts", required: false)
}
