@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<link rel="stylesheet" href="~/css/Account.css">

<div class="form-wrapper">
    <div class="row">
        <div class="col-md-6 custom-width">
            <form id="account-form" method="post" class="text-center w-100">
                <h2>Change Password</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <!-- Old Password -->
                <div class="form-group mb-4 position-relative">
                    <span class="icon position-absolute">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C9.79 2 8 3.79 8 6v3H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V11c0-1.1-.9-2-2-2h-2V6c0-2.21-1.79-4-4-4zM12 4c1.1 0 2 .9 2 2v3H10V6c0-1.1.9-2 2-2zm6 16H6V11h12v9z" fill="#888"/>
                        </svg>
                    </span>
                    <input asp-for="Input.OldPassword" class="form-control pl-5" placeholder="Enter your current password" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>

                <!-- New Password -->
                <div class="form-group mb-4 position-relative">
                    <span class="icon position-absolute">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C9.79 2 8 3.79 8 6v3H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V11c0-1.1-.9-2-2-2h-2V6c0-2.21-1.79-4-4-4zM12 4c1.1 0 2 .9 2 2v3H10V6c0-1.1.9-2 2-2zm6 16H6V11h12v9z" fill="#888"/>
                        </svg>
                    </span>
                    <input asp-for="Input.NewPassword" class="form-control pl-5" placeholder="Enter your new password" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <!-- Confirm New Password -->
                <div class="form-group mb-4 position-relative">
                    <span class="icon position-absolute">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C9.79 2 8 3.79 8 6v3H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V11c0-1.1-.9-2-2-2h-2V6c0-2.21-1.79-4-4-4zM12 4c1.1 0 2 .9 2 2v3H10V6c0-1.1.9-2 2-2zm6 16H6V11h12v9z" fill="#888"/>
                        </svg>
                    </span>
                    <input asp-for="Input.ConfirmPassword" class="form-control pl-5" placeholder="Confirm your new password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                <partial name="_StatusMessage" for="StatusMessage" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
