@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<link rel="stylesheet" href="~/css/Account.css">

<partial name="_StatusMessage" for="StatusMessage" />
<div class="form-wrapper">
    <div class="row">
        <div class="col-md-6 custom-width">
            <form id="profile-form" method="post" class="text-center w-100" style="max-width: 400px;">
                <h2> Profile</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <!-- Username (disabled) -->
                <div class="form-group mb-4 position-relative">
                    <span class="icon position-absolute">
                        <!-- SVG icon with head and body for username -->
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12c2.67 0 8 1.34 8 4v2H4v-2c0-2.66 5.33-4 8-4zm0-2c1.65 0 3-1.35 3-3s-1.35-3-3-3-3 1.35-3 3 1.35 3 3 3z" fill="#888"/>
                        </svg>
                    </span>
                    <input asp-for="Username" class="form-control pl-5" placeholder="Please choose your username." disabled />
                </div>

                <!-- Phone Number -->
                <div class="form-group mb-4 position-relative">
                    <span class="icon position-absolute">
                        <!-- SVG icon for phone number -->
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.62 10.79a15.561 15.561 0 006.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.26 1.12.32 2.33.5 3.57.5.55 0 1 .45 1 1v3.5c0 .55-.45 1-1 1-10.49 0-19-8.51-19-19 0-.55.45-1 1-1H5c.55 0 1 .45 1 1 0 1.25.18 2.45.5 3.57.1.34.01.74-.27 1.02l-2.2 2.2z" fill="#888"/>
                        </svg>
                    </span>
                    <input asp-for="Input.PhoneNumber" class="form-control pl-5" placeholder="Please enter your phone number." />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
