@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/About.css">

<div class="about-header">
    <!-- Header section for the About page -->
    <span class="about-subtitle">Empowering</span>
    <h2 class="about-main-title">Healthier Choices</h2>
</div>

<div class="container">
    <!-- Features section showcasing the platform's benefits -->
    <div class="features row">
        <div class="feature-item col-md-4">
            <img src="~/images/magnifying-glass.png" alt="magnifying-glass" class="feature-logo" />
            <h4 class="feature-title">Transparency</h4>
            <p class="feature-description">Access accurate and up-to-date nutritional information on a wide range of
                products, empowering users to make informed choices with ease.</p>
        </div>
        <div class="feature-item col-md-4">
            <img src="~/images/heart-attack.png" alt="Heart" class="feature-logo" />
            <h4 class="feature-title">Health Focus</h4>
            <p class="feature-description">Certified products that meet "Nøkkelhull" standards promote healthier
                options, focusing on balanced nutrition and reduced levels of calories, fat, and salt.</p>
        </div>
        <div class="feature-item col-md-4">
            <img src="~/images/mobile.png" alt="Mobile" class="feature-logo" />
            <h4 class="feature-title">Ease of Use</h4>
            <p class="feature-description">Our platform provides intuitive tools and resources, making it simple for
                both companies and consumers to navigate nutritional data and make better dietary decisions.</p>
        </div>
    </div>
</div>

<!-- Divider line to separate sections -->
<div class="divider"></div>
<div class="cta-container">
    <!-- Call-to-action section -->
    <a href="/Home/Index" class="cta-button">Explore Our Platform</a>
</div>