body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(110deg, #00e4a5 55%, white 45%);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Styling for main heading */
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: #343a40;
  margin-bottom: 1.5rem;
}

/* Limits the width of images */
.image-max-width {
  max-width: 70%;
}

/* Limits the width of forms */
.form-max-width {
  max-width: 400px;
}

/* Input field styling */
.form-control {
  border-radius: 30px;
  background-color: #f0f0f0;
  border: none;
  padding: 12px 20px 12px 45px;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

/* Icon styling within input fields */
.icon {
  position: absolute;
  left: 15px;
  top: 23px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #888;
  pointer-events: none;
}

/* Animation for icons in focused input fields */
.form-group.position-relative:focus-within .icon svg path {
  fill: #ff66b2;
  transform: scale(1.1);
  transition: fill 0.3s ease, transform 0.3s ease;
}

/* Primary button with hover animation */
.btn-primary {
  background-color: #ff66b2;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  padding: 10px 30px;
  max-width: 200px;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: #ff4da6;
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Styling the heading */
.left-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Styling the paragraph */
.left-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #f0f0f0;
  line-height: 1.6;
  max-width: 80%;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Styling the Sign Up button */
.left-section .btn-outline-light {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.left-section .btn-outline-light:hover {
  background-color: white;
  color: #00c896;
  transform: scale(1.1);
}